{% extends 'core/base.html' %}

{% block title %}Home{% endblock %}

{% block background %}{% load static %}{% static 'core/img/home-bg.jpg' %}{% endblock %}

{% block headers %}
<h1>Jose Coronel</h1>
<span class="subheading">IA || Data analyst || Business analytics</span>
{% endblock %}

{% block content %}
    {% for courses in education %}
        <div class="container">
			<!-- Proyecto -->
			<div class="row courses">  	
				<div class="col-lg-3 col-md-4 offset-lg-1">
				<img class="img-fluid" src="{{courses.image.url}}" alt="">
			</div>
			<div class="col-lg-7 col-md-8">
				<h2 class="section-heading title">{{courses.title}}</h2> 
                <br>
                <h4>{{courses.school}}</h4>  
				<p>{{courses.description}}</p>
                <p>{{courses.start_date}} - {{courses.end_date}}</p>
			</div>
		</div>
        <hr>
    {% endfor %}
{% endblock %}
