{% extends 'core/base.html' %}

{% block title %}Acerca de{% endblock %}

{% block background %}{% load static %}{% static 'core/img/about-bg.jpg' %}{% endblock %}

{% block headers %}
<h1>Acerca de</h1>
<span class="subheading">Biografía</span>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">   
        <div class="col-lg-3 col-md-4 offset-lg-1">
            <img class="img-fluid avatar" src="../../static/core/img/Foto_CV_Recortada.jpeg" alt="">
        </div>
        <div class="col-lg-7 col-md-8">
            <h2 class="section-heading">Jose Coronel</h2>   
            <p>
                Desarrollador Full Stack especializado en Inteligencia Artificial, Ciencia de Datos y Análisis de Negocios, con experiencia en el diseño de soluciones escalables, dashboards interactivos y aplicaciones web. Cuento con amplios conocimientos en Microsoft Power Platform, permitiéndome crear soluciones empresariales automatizadas, aplicaciones personalizadas y análisis de datos avanzados.
            </p>
            <p>
                Actualmente, estoy en transición hacia roles especializados en Big Data, Business Analytics e IA, enfocado en el desarrollo de soluciones basadas en datos, automatización de procesos y herramientas de visualización avanzada para optimizar la toma de decisiones empresariales.
            </p>

            <h3>Habilidades Técnicas:</h3>
            <ul>
                <li><strong>Power Platform:</strong> Power BI (dashboards y modelado de datos), Power Apps (Canvas y Model-driven Apps), Power Automate (automatización de flujos de trabajo), Power Virtual Agents (chatbots inteligentes) y Dataverse.</li>
                <li><strong>Análisis y Visualización de Datos:</strong> Power BI, Tableau, Pandas, NumPy, Matplotlib y Seaborn.</li>
                <li><strong>Back-End:</strong> PHP (Laravel), Java, Node.js, MySQL y Oracle.</li>
                <li><strong>Front-End:</strong> React.js, HTML5, CSS (Tailwind, Bootstrap) y JavaScript.</li>
                <li><strong>Cloud Computing:</strong> AWS y arquitecturas en la nube.</li>
                <li><strong>IA y Machine Learning:</strong> Python, R, TensorFlow, Keras y Scikit-learn.</li>
            </ul>
        </div>
    </div>  
</div>


    <hr>
{% endblock %}