{% extends 'core/base.html' %}

{% block title %}Contacto{% endblock %}

{% block background %}{% load static %}{% static 'core/img/contact-bg.jpg' %}{% endblock %}

{% block headers %}
<h1>Contacto</h1>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            
            <!-- Breve descripción o invitación a contactar -->
            <p class="lead">
                Si estás interesado en colaborar en proyectos de Inteligencia Artificial, Ciencia de Datos o Análisis de Negocios, 
                o simplemente deseas más información sobre mis servicios, no dudes en ponerte en contacto. 
                ¡Estaré encantado de ayudarte a encontrar la mejor solución para tu negocio!
            </p>
            
            <!-- Datos de contacto -->
            <hr>
            <p><strong>Teléfono:</strong> +34 638 953 475</p>
            <p><strong>Honorarios:</strong> 15€/h (precio base)</p>
        </div>
    </div>
</div>


<hr>
{% endblock %}