{% extends 'core/base.html' %}

{% block title %}Portfolio{% endblock %}

{% block background %}{% load static %}{% static 'core/img/portfolio-bg.jpg' %}{% endblock %}

{% block headers %}
<h1>Portafolio</h1>
<span class="subheading">Proyectos y CV</span>
{% endblock %}

{% block content %}
<div class="container">
	<!-- Proyecto -->
	<div class="row project">  	
	    <div class="col-lg-3 col-md-4 offset-lg-1">
		<img class="img-fluid" src="../../static/core/img/about-bg.jpg" alt="">
	</div>
	<div class="col-lg-7 col-md-8">
	    <h2 class="section-heading title">Portfolio - Web personal</h2>   
	    <p>Puedes ver este portfolio que estas viendo ahora mismo tambien en github!</p>
	    <p><a href="https://github.com/jcoronelcode/webpersonal">Más información</a></p>
	</div>
	</div>
	<!-- Proyecto -->
	<div class="row project">  	
	    <div class="col-lg-3 col-md-4 offset-lg-1">
	        <img class="img-fluid" src="../../static/core/img/home-bg.jpg" alt="">
	    </div>
	    <div class="col-lg-7 col-md-8">
	        <h2 class="section-heading title">3Dprint e-commerce</h2>   
	        <p> Online store about 3D printing developed in PHP with Laravel and Vue3.
</p>
	        <p><a href="https://github.com/jcoronelcode/3Dprint-ecommerce">Más información</a></p>
	    </div>
	</div>
</div>
{% endblock %}